doctype 5
html(lang="en")
  head
    title= "Last.fm Tag Stats"
    meta(http-equiv="Content-Type", content="text/html; charset=iso-8859-1")
    link(rel="stylesheet" href="/lastfm/resources/css/main.css")
    link(rel="stylesheet" href="/lastfm/resources/css/bootstrap.min.css")
    link(rel="stylesheet" href="/lastfm/resources/css/nv.d3.css")
  body
    div(ng-app="LastFmApp")
      div.row-fluid(ng-controller="FormController")
        div.glass.centered.span8.offset2
          form(ng-submit="getResults()")
            div.row-fluid
              div.input-append
                input.span10(ng-model="username" type="text" name="username" placeholder="LastFM Username")
                button.btn.btn-primary Go!
            br
            div.row-fluid.btn-group(data-toggle="buttons-radio")
              button.btn.btn-primary.active(ng-model="period" value="overall" type="button" buttons-radio="") Overall
              button.btn.btn-primary(ng-model="period" value="7day" type="button" buttons-radio="") 7 Days
              button.btn.btn-primary(ng-model="period" value="3month" type="button" buttons-radio="") 3 Months
              button.btn.btn-primary(ng-model="period" value="6month" type="button" buttons-radio="") 6 Months
              button.btn.btn-primary(ng-model="period" value="12month" type="button" buttons-radio="") 12 Months
            br
            br
            div.row-fluid.btn-group(data-toggle="buttons-radio")
              button.btn.btn-primary.active(ng-model="numArtists" value="1" type="button" buttons-radio="") 1 Artist
              button.btn.btn-primary(ng-model="numArtists" value="5" type="button" buttons-radio="") 5 Artists
              button.btn.btn-primary(ng-model="numArtists" value="10" type="button" buttons-radio="") 10 Artists
              button.btn.btn-primary(ng-model="numArtists" value="20" type="button" buttons-radio="") 20 Artists

      div.row-fluid(ng-controller="DisplayController")
        div.centered.span8.offset2
          div.glass#spinner(ng-show="showSpinner" style="display: none;")
            img(src="/lastfm/resources/img/spinner-small.gif")
            br
            br
            | Getting your music (this can take a while...)
          div.main#error(ng-show="showError" style="display: none;")
            | Sorry, something went wrong!
          div.glass#chart1(ng-show="showChart" style="display: none; height: 500px;")
            svg(style="width: 900px; height: 500px;")

    script(type="text/javascript" src="/lastfm/resources/js/jquery-1.7.1.min.js")
    script(type="text/javascript" src="/lastfm/resources/js/bootstrap.min.js")
    script(type="text/javascript" src="/lastfm/resources/js/angular.min.js")
    script(type="text/javascript" src="/lastfm/resources/js/d3.v3.min.js")
    script(type="text/javascript" src="/lastfm/resources/js/nv.d3.min.js")
    script(type="text/javascript" src="/lastfm/resources/js/controllers.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45059432-1', 'ethanshepherd.com');
      ga('send', 'pageview');


